{% extends "accounts/base_accounts.html" %}
{% block content %}
  <div class="wrapper">
    <form method="post">
      {% csrf_token %}
      <h1>Register</h1>

      <div class="input-box">
        {{ form.email }}
      </div>

      <div class="input-box">
        {{ form.first_name }}
      </div>

      <div class="input-box">
        {{ form.last_name }}
      </div>

      <div class="input-box">
        {{ form.password1 }}
      </div>

      <div class="input-box">
        {{ form.password2 }}
      </div>

      <div class="input-box">
        {{ form.role }}
      </div>

      <button type="submit" class="btn">Create account</button>

      <div class="register-link">
        <p>Already have an account?
          <a href="{% url 'accounts:login' %}">Login</a>
        </p>
      </div>
    </form>
  </div>
{% endblock %}